---
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{.ssh_authorized_key}}
storage:
  filesystems:
    - name: OEM
      mount:
        device: /dev/disk/by-label/OEM
        format: ext4
  files:
    - filesystem: OEM
      path: /grub.cfg
      mode: 0644
      append: false
      contents:
        inline: |
          set linux_append="$linux_append vga={{.vga_mode}} video=vesafb"
systemd:
  units:
    - name: tty7.service
      enabled: true
      contents: |
        [Unit]
        Description=Prepare tty7 for framebuffer

        [Service]
        Type=oneshot
        ExecStart=/usr/bin/setterm -cursor off
        StandardInput=tty-force
        StandardOutput=tty
        TTYPath=/dev/tty7
        TTYReset=yes

        [Install]
        WantedBy=getty.target
